/BreadthFirstSearch.class
/DepthFirstSearch.class
/Dijikstra$1.class
/Dijikstra$edge.class
/Dijikstra.class
/FloydWarshall.class
/Kruskal$1.class
/Kruskal$edge.class
/Kruskal.class
/Prim$1.class
/Prim$edge.class
/Prim.class
